@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#3B82F6;
    --gray:
    #6B7280;
    --off-white:#E5E7EB;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}

hr{
    margin: 2rem 0rem;
}

/** Container **/

.container{
    padding:0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

/** links **/

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
    max-width: 2rem;
    border-radius: 0.5rem;
    
}

.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
   
}

.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

.projects-button{
    display: block;
    max-width: 7rem;
    margin-bottom: 1rem;
}

.projects-button2{
    margin-top:3rem;
}


/** lists **/

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display:inline;
    padding:0rem 0.5rem;
}

/** nav **/

.navigation{
    background-color: var(--primary-color);
    padding:0.5rem;
    border-bottom-left-radius: 1rem;
    color:white;
    font-size:1.1rem;
}

.navigation .link{
    color:white;
}

.navigation .nav-pills{
    text-align:right;
}

.nav-brand{
    font-weight: bold;
    margin-left: 4rem;
    margin-top: 2rem;
    
}

.navigation .link-active{
    font-weight:bold;
}

/** header **/

.hero{
    padding:2rem;
    padding-top: 3rem;
}

.hero .hero-img{
    margin:auto;
    max-width:400px;
    display:block;
    display:flex;
}

.hero-project-img{
    margin:auto;
    max-width: 250px;
    display:block;
}

.hero .hero-heading{
    padding-top: 1rem;
    color:var(--gray);
    text-align: center;
}

.section{
    padding:2rem;
}

.section h1{
    text-align:center;
}

.ow{
    background-color: var(--off-white);
}

/** footer **/

.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color:white;
    border-top-right-radius:1rem;
}

.footer .link{
    color:white;
}

.footer ul{
    padding-inline-start:0px;
}

.footer-header{
    font-weight: bold;
    font-size: large;
}

/** hover **/

.hover-all:hover{
    background-color:#1D4ED8;

}

.hover-all-secondary:hover{
    background-color:#D1D5DB;
}
